.portfolio-item {
	width: 270px;
	height: 190px;
	margin-bottom: 55px;
	float: left;
	border: 1px solid #dddddd;
}

.portfolio-item > p {
	background-color: #4aaaa5;
	font-size: 150%;
	text-align: center;
	height: 60px;
	line-height: 60px;
	margin-top: 120px;
	color: white;
}

.left {
	margin-right: 45px;
}