.input {
	width: 100%;
	margin: 10px 0px 10px 0px;
	padding: 5px 0px 5px 5px;
	color: darkgray;

}

.textarea {
	width: 100%;
	margin: 10px 0px 10px 0px;
	height: 200px;	
 }

 #submit {
 	background-color: #4aaaa5;
 	color: white; 
 	width: 120px;
 	height: 40px;
 	padding: 0;
	border: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1.2em;
 }

.contact-form {
 	font-size: 120%;
 	line-height: 1.5em;
 }