html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */

}

#name, #sidebar, .border, #profile-pic, .navigation-bar {
	float: left;
}


.wrapper {
	margin: 0 auto;
	width: 960px;
	flex: 1 0 auto;
}

.wrapper:after {
	content: "";
  	display: table;
  	clear: both;
}


#header {
	height: 90px;
	line-height: 90px;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
}

#name {
	width: 22%;
	color: white;
	/*margin: 0px 45.8% 0px 0px;*/
	background-color: #4aaaa5;
	text-align: center;
}


.navigation-bar {
	margin: 0px 10px 0px 10px;
	font-size: 1.2em;
	color: #999999;
}

.navigation-wrapper {
	flex: 1 0 auto;
	display: inline-block;
	float: right;
	margin-right: 2%;
}

#profile {
	margin-top: 2%;
	margin-bottom: 3%;
}

#profile h1, h2 {
	color: #4aaaa5;
}

#main-content {
	width: 61.4583%;
	float:left;
	padding: 3% 3% 3% 3%;
	border: 1px solid #dddddd;
}

.border {
	height: 3px;
	width: 100%;
	background: #dddddd;
	clear:both;
	margin: 20px 0px 20px 0px;
}

#profile-pic {
	width: 200px;
	height: 150px;
	margin: 0px 10px 0px 0px;
}

.bio {
	font-size: 1.2em;
	line-height: 1.75em;
}

#sidebar {
	height: 140px;
	width: 22%;
	padding: 3% 3% 0% 3%;
	border: 1px solid #dddddd;
	margin-left: 3.6%;
}

#connect {
	margin-bottom: 10px;
	padding-bottom: 20px;
	text-align: center;
	border-bottom: 3px solid #dddddd;
}

.link {
	height: 60px;
	width: 60px; 
	margin: 3px 3px 3px 3px;
}

#footer {
	background-color: #666666;
	border-top: 6px solid #4aaaa5;
	height: 100px;
	color: darkgray;
	text-align: center;
	line-height: 100px;
	flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.header-font {
	font-family:'Georgia', Times, Times New Roman, serif;
	font-size: 1.5em;
	font-weight: bold;	
}

.regular-font {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

/* Media queries */
@media (max-width: 980px) {
	.wrapper {
		width: 700px;
		font-size: 13px;
	}
	
	#name {
		padding: 0 10px 0 10px;
	}

	#main-content {
		width: 50%;
	}
	
	#sidebar {
		width: auto;
	}

	#profile-pic {
	    display:inline-block;
	    width:100%;
	    height: 230px;
	    margin-bottom: 20px;
	}
	.header-font {
		font-size: 1.7em;
	}
	.navigation-bar {
		margin: 0px 15px 0px 15px;
	}
}


@media (max-width: 768px) {
	#main-content, #sidebar {
		box-sizing: border-box;
	}
	
	.wrapper {
		width: 600px;
		font-size: 12px;
	}

	#name {
		padding: 0 10px 0 10px;
	}
	
	#main-content {
		width: 100%;
	}

	#sidebar {
		width: 100%;
		margin: 5% 0;
	}

	#profile-pic {
		width: 50%;
		height: 40%;
	}

	#connect {
		text-align: left;
	}
}

@media (max-width: 640px) {
	.wrapper {
		width: 100%;
		font-size: 12px;
	}

	#name, .navigation-wrapper, #profile-pic {
		width: 100%;
	}
	
	.navigation-wrapper {
		margin: 0;
	}
	
	.navigation-bar {
		width: 33%;
		margin: 0;
		text-align: center;
		height: 50px;
		line-height: 50px;
	}

	#header {
		height: auto;
		line-height: 70px;
	}

	#main-content {
		padding-top: 20px;
	}

	#profile {
		width: 90%;
	}
}	